{% include header %}

<h1>{{ page.title }}</h1>

{% if page.meta %}
<p class='description'>{{ page.meta }}</p>
{% endif %}

<hr>

{% if page.date %}
<p class='date'><i class='icon-calender icon--inline'></i>{{ page.date | date: "%B %e, %Y" }}</p>
{% endif %}

{{ content }}
<hr>
<h2>Hey,</h2>
<p>Follow me on <a href="http://twitter.com/{{site.twitterhandle}}" rel='me'>Twitter</a> and <a href="http://github.com/{{site.githubhandle}}" rel='me'>Github</a>, that's where I'm most active these days.  You can also email me at (<span class='email'></span>).  Thanks!</p>

<p>
<iframe src="http://ghbtns.com/github-btn.html?user={{site.githubhandle}}\&amp;type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="170" height="20"></iframe>
<a href="https://twitter.com/{{site.twitterhandle}}" class="twitter-follow-button" data-show-count="false">Follow @apsdehal</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</p>
{% include footer %}